body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul { list-style: none; padding-left: 5px; }
a { color:rgb(10, 0, 58); text-decoration: none;}
#Teste {
    background-color: #f9f9fb;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
header{
    
}
h2{
  color: #CCC;
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 280px;
    padding-right: 280px;
    
}
#logoSenai{
    
    
}
#fotoPerfil{
    border-radius: 70%;
    height: 150px;
}
.colunas{
  position: absolute;
  width: 100vw;
  display: flex;
  flex-direction: row;
  margin: 0%;
  padding: 0%;
}
.coluna1{
  position: absolute;
  width: 18%;
  background-color: brown;
}
.coluna2{
  position: absolute;
  width: 65%;

}
coluna3{
  position: absolute;
  width: 12%;
  background-color: yellow;
}
/*____________________________________________________*/

section{
  width: 65%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
.carroSsel{
    position: absolute;
    top: 100px;
    width: 800px;
    /*height: 100vh; */
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid;
    background-color: #195aa3;
    
    
}
  
.galeria{
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .galeria-container{
    align-items: center;
    display: flex;
    height: 400px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
  }
  .galeria-item{
    height: 200px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 330px;
    z-index: 0;
    border-radius: 15px;
    background-size: contain;
  }
  .galeria-item-1{
    left: 20%;
    opacity: .4;
    transform: translateX(-50%);
  }
  .galeria-item-2,.galeria-item-4{
    height: 250px;
    opacity: 0.8;
    width: 380px;
    z-index: 1;
  }
  .galeria-item-2{
    left: 33%; /* 30% */
    transform: translateX(-50%);
  }
  
  .galeria-item-3{
    box-shadow: -2px 5px 33px 6px rgba(0,0,0,0,.35);
    height: 300px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 430px;
    z-index: 2;
  }
  .galeria-item-4{
    left: 45%;
    
    transform: translateX(-50);
  }
  .galeria-item-5{
    left: 80%;
    opacity: .4;
    transform: translateX(-50%);
  }
  .galeria-controle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
    padding: 0%;
  
  }
  .galeria-controle button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 15px;
    margin: 5px;
    padding: 10px;
    text-transform: capitalize;
  }
  .galeria-controle button:focus{
    outline: none;
  }
  .galeria-controle-Voltar{
    position: relative;
  }
  .galeria-controle-Voltar::before{
    border: solid#000;
    border-width: 0 2px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    left: -30px;
    padding: 10px;
    position: absolute;
    /*top: 20%; */
    transform: rotate(135deg) translateY(50%);
    transition: left 0.15s ease-in-out;
    width: 5px;
  }
  .galeria-controle-Voltar:hover::before{
  left: -40px;
  
  }
  .galeria-controle-Próximo{
    position: relative;
  }
  .galeria-controle-Próximo::before{
    border: solid#000;
    border-width: 0 2px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    padding: 10px;
    position: absolute;
    right: -30px;
    /*top: 45%;*/
    transform: rotate(-45deg) translateY(-50%) ;
    transition: right 0.15s ease-in-out;
    width: 5px;
  
  }
  .galeria-controle-Próximo:hover::before{
    right: -40px;
  }
  .gallery-nav{
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
  }
  .gallery nav li{
    background: #CCC;
    border-radius: 50%;
    height: 10px;
    margin: 0 16px;
    width: 10px;
  }
  .gallery-nav li.galeria-item-selected{
    background: #555;
  }